files/0UNSTRUCTURED
#files/*/_INSPIRATION/
#files/*/_PLAN/
.idea
.DS_Store
.sass-cache
Gemfile.lock
package-json.lock
node_modules
_drafts
_site
*.cr3
*.tif
*.xmp
*.psd
*.mov
*.docx
*.ai
*.pdf
*.zip
*.dwg