---
layout: compress
---

<!DOCTYPE html>

<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu webring-page header-on-light footer-on-light">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                <div class="webring-shell">
                    <article class="webring-card post">
                        {{ content }}
                    </article>
                </div>
            </section>
        {% include footer.html %}
    </body>
</html>
